body{

margin:0;
font-family:Arial;
background:#F1F2F5;

}

.layout{

display:flex;
height:100vh;

}

/* sidebar */

.sidebar{

width:230px;
background:#0C143D;
color:white;
padding:25px;
display:flex;
flex-direction:column;

}

.logo{

font-size:20px;
font-weight:bold;
margin-bottom:30px;

}

.sidebar nav a{

display:block;
padding:12px;
margin-bottom:6px;
border-radius:6px;
cursor:pointer;

}

.sidebar nav a:hover{

background:#063C66;

}

.sidebar nav .active{

background:#1A7BA7;

}

.logout{

margin-top:auto;

}

/* main */

.main{

flex:1;
padding:30px;

}

.topbar{

display:flex;
justify-content:space-between;
margin-bottom:20px;

}

.card{

background:white;
padding:25px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.05);

}

.form-section label{

display:block;
margin-top:15px;
margin-bottom:5px;

}

input,textarea{

width:100%;
padding:10px;
border:1px solid #ddd;
border-radius:6px;

}

textarea{

height:120px;

}

.grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:20px;

}

.small{

padding:20px;

}

.priority button{

margin-right:10px;
padding:8px 12px;
border:none;
border-radius:6px;
cursor:pointer;

}

.normal{

background:#1A7BA7;
color:white;

}

.urgent{

background:#078CAC;
color:white;

}

.critical{

background:#505168;
color:white;

}

/* upload */

.upload{

margin-top:20px;

}

.upload-box{

border:2px dashed #ccc;
padding:30px;
text-align:center;
cursor:pointer;
border-radius:10px;

}

/* buttons */

.buttons{

margin-top:20px;
display:flex;
justify-content:flex-end;
gap:10px;

}

.draft{

background:#505168;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;

}

.send{

background:#1A7BA7;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;

}